In [4]:
it_salary_2018_columns = ['Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current Salary', 'Salary one year ago', 'Salary two years ago','Are you getting any Stock Options?', 'Company type']
it_salary_2019_columns = [
    'Age', 
    'Gender', 
    'City', 
    'Seniority level', 
    'Position (without seniority)', 
    'Years of experience', 
    'Your main technology / programming language',
    'Yearly brutto salary (without bonus and stocks)', 
    'Company type',
    'Company business sector']
it_salary_2020_columns = [
    'Age', 
    'Gender', 
    'City', 
    'Position ',
    'Total years of experience',
    'Seniority level',  
    'Your main technology / programming language',
    'Other technologies/programming languages you use often',
    'Yearly brutto salary (without bonus and stocks) in EUR',
    'Annual bonus+stocks one year ago. Only answer if staying in same country',
    'Employment status',
    'Ð¡ontract duration',
    'Company type']

levels_fyi_columns = ['company', 'title', 'totalyearlycompensation', 'location', 'yearsofexperience', 'yearsatcompany', 'basesalary',
'Race_White', 'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race']

ds_salaries_columns = ['job_title', 'salary', 'salary_in_usd']

software_professional_columns = ['Company Name', 'Job Title', 'Salary']

cyber_salaries_columns = ['job_title', 'salary_in_usd']

In [5]:
import pandas as pd

it_salary_eu_2020 = pd.read_csv('datasets/IT_Salary_Survey_EU_2020.csv', encoding='ISO-8859-1', sep=','
,           usecols=it_salary_2020_columns
            )

it_salary_eu_2018 = pd.read_csv('datasets/IT_Salary_Survey_EU_2018.csv', encoding='ISO-8859-1', 
    usecols=it_salary_2018_columns)
it_salary_eu_2019 = pd.read_csv('datasets/IT_Salary_Survey_EU_2019.csv', encoding='ISO-8859-1'
    , usecols=it_salary_2019_columns
    )

# Data Science is stem - Good integrity
levels_fyi_salaries = pd.read_csv('datasets/Levels_Fyi_Salary_Data.csv', encoding='ISO-8859-1'
, usecols=levels_fyi_columns
)

# Data Science Salaries
ds_salaries = pd.read_csv('datasets/ds_salaries.csv', encoding='ISO-8859-1'
, usecols=ds_salaries_columns
)

# From Glassdoor India
software_professional_datasets = pd.read_csv('datasets/Software_Professional_Salaries.csv', encoding='ISO-8859-1'
, usecols=software_professional_columns
)

# From Survey
cyber_salaries = pd.read_csv('datasets/salaries_cyber.csv', encoding='ISO-8859-1', usecols=cyber_salaries_columns)

<h1>Exploration</h1>

<p>IT Salaries Surveys<p>

In [10]:
# EDA
print(it_salary_eu_2020.sample())

# TODO: 
# 1. Combine Total Years into Float
# 2. Append Seniority Level into Position to keep as Position
# 3. Combine Programming Languages columns into a single column
# 4. Get info on Annual bonus+stocks colunm

it_salary_eu_2020.loc[:, 'Total years of experience'] = it_salary_eu_2020['Total years of experience'].astype(float)
it_salary_eu_2020.loc[:, 'Position '] = pd.conat([it_salary_eu_2020['Position '], it_salary_eu_2020['Seniority level'])

      Age Gender        City       Position  Total years of experience  \
723  33.0   Male  Dusseldorf  Data Scientist                         2

    Seniority level Your main technology / programming language  \
723            Lead                                       Spark

    Other technologies/programming languages you use often  \
723                                     Python, Docker

     Yearly brutto salary (without bonus and stocks) in EUR  \
723                                            70000.0

    Annual bonus+stocks one year ago. Only answer if staying in same country  \
723                                              66000

      Employment status  Ð¡ontract duration Company type
723  Full-time employee  Unlimited contract      Product

In [77]:
it_salary_eu_2018.sample()

,Age,Gender,City,Position,Years of experience,Current Salary,Salary one year ago,Salary two years ago,Are you getting any Stock Options?,Company type
106,35.0,M,Berlin,Senior Engineer (PHP),15.0,120000.0,85000.0,70000.0,Yes,Product

In [78]:
it_salary_eu_2019.sample()

,Age,Gender,City,Seniority level,Position (without seniority),Years of experience,Your main technology / programming language,Yearly brutto salary (without bonus and stocks),Company type,Company business sector
533,35.0,Male,Berlin,Senior,Backend Developer,12,PHP,90000.0,Startup,Ð¡ommerce

Levels FYI Salaries

Data Science Salaries

Software Professionals

Cyber Salaries